<div class="bg-container">
  <div class="wrapperStyle">
    <p *ngIf="onLoginError" class="errorStyle">{{ errorMsg }}</p>
    <p class="titleStyle">Chat Application</p>
    <img src="../../../assets/img/logo-chat-app.jpg" alt="Fail">
    <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit) = "onLogin()">
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              id="email"
            />
            <div *ngIf="f.email.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.email.errors.required">
                Yêu cầu nhập email
              </div>  
              <!-- <div *ngIf="f.email.errors.email">
                Email phải hợp lệ
              </div>  -->
            </div>
          </div>
          <div class="form-group">
            <label>Passsword</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
            />
            <div *ngIf="f.password.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.password.errors.required">
                Yêu cầu nhập password
              </div>  
              <div *ngIf="f.password.errors.minlength">
                Password phải có ít nhất 6 ký tự
              </div> 
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
    </div>
    
    <div class="register">
      <p>Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
    </div>
  </div>
  
</div>