<div class="bg-container">
  <div class="wrapperStyle">
    <!-- <p *ngIf="onLoginError" class="errorStyle">{{ errorMsg }}</p> -->
    <p class="titleStyle">Chat Application</p>
    <img src="../../../assets/img/logo-chat-app.jpg" alt="Fail">
    <div class="uidWrapperStyle">
      <!-- <div>
        <p class="subtitleStyle">Nhập thông tin đăng ký</p>
      </div> -->
      <!-- <div class="inputWrapperStyle">
        <input
          type="text"
          placeholder="Email"
          [(ngModel)]="email"
        />
      </div>
      <div class="inputWrapperStyle">
        <input
          type="text"
          placeholder="Password"
          [(ngModel)]="password"
        />
        <input
          type="text"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
        />
      </div> -->
      <!-- <div class="inputWrapperStyle">
        <input
          type="text"
          placeholder="Họ tên"
          [(ngModel)]="userPassword"
        />
        <input
        type="text"
        placeholder="Ngày sinh"
        [(ngModel)]="userPassword"
      />
      </div>
      <div class="inputWrapperStyle">
        <input
          type="text"
          placeholder="Số Điện thoại"
          [(ngModel)]="userPassword"
        />
        <input
        type="text"
        placeholder="Địa chỉ"
        [(ngModel)]="userPassword"
      />
      </div> -->


      <div class="register-form">
        <form [formGroup]="registerForm" (ngSubmit) = "onSignUp()">
          <div class="form-group">
            <label>Tên</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
            />
            <div *ngIf="f.name.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.name.errors.required">
                Yêu cầu nhập name
              </div>  
            </div>
          </div>
          <div class="form-group">
            <label>Số điện thoại</label>
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              id="phone"
            />
            <div *ngIf="f.phone.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.phone.errors.required">
                Yêu cầu nhập Số điện thoại
              </div>  
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              id="email"
            />
            <div *ngIf="f.email.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.email.errors.required">
                Yêu cầu nhập email
              </div>  
              <div *ngIf="f.email.errors.email">
                Email phải hợp lệ
              </div> 
            </div>
          </div>
          <div class="form-group">
            <label>Passsword</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
            />
            <div *ngIf="f.password.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.password.errors.required">
                Yêu cầu nhập password
              </div>  
              <div *ngIf="f.password.errors.minlength">
                Password phải có ít nhất 6 ký tự
              </div> 
            </div>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
            />
            <div *ngIf="f.confirmPassword.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="f.confirmPassword.errors.required">
                Yêu cầu xác thực password
              </div>  
              <div *ngIf="f.confirmPassword.errors.matching">
                Xác thực password không hợp lệ
              </div> 
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </div>
        </form>
    </div>
    </div>
    <div class="register">
      <p><a routerLink="/login">Quay về </a></p>
    </div>
  </div>
  
</div>