.wrapperStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .errorStyle {
    font-size: 12px;
    color: red;
    width: 100%;
    text-align: center;
  }
  
  .titleStyle {
    font-size: 30px;
    color: #2da7ff;
    width: 100%;
    text-align: center;
  }
  
  .subtitleStyle {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  
  .userContainerStyle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  
    @media (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .userWrapperStyle {
    display: flex;
    width: 150px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    background: #333;
    border-radius: 10px;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    p {
      margin: 0;
    }
  }
  
  .thumbnailWrapperStyle {
    width: 36px;
    height: 36px;
  }
  
  .uidWrapperStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      width: 100%;
    }
  }
  .inputWrapperStyle {
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    input {
      outline: none;
      margin: 10px 30px;
      padding: 8px 10px;
      border-radius: 5px;
      border: 1px solid #bbb;
    }
  }
  
  .loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      outline: none;
      background-color: #78A6C8;
      border-radius: 10px;
      color: black;
      padding: 10px 25px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  img{
    width: 14%;
    height: 14%;
  }
  
  .bg-container{
    background-color: #78A6C8;
    height: 100%;
  }

  .register-form {
    padding: 19px 10px;
    width: 280px;
    button{
      padding: 8px 16px;
    }
    input{
      height: 30px;
      width: 260px;
    }
  }
  
  .error{
    color: red;
  }