<div>
    <cometchat-backdrop></cometchat-backdrop>
    <!-- <p>test</p> -->
    <div class="modalWrapperStyle">
      <span class="modalCloseStyle" (click)="closeCreateGroupView()"></span>
      <div class="title-list-add-friend">
        <h3>{{ADD_FRIENDS}}</h3>
      </div>
      <div class="modalBodyStyle">
        <table class="modalTableStyle">
          <tbody class="tableBodyStyle">
            <tr>
              <td>
                <div class="tableErrorStyle" *ngIf="error">{{ error }}</div>
              </td>
            </tr>
            <div>
                <span class="thumbnailStyle">
                    <cometchat-avatar
                     [item]="user"
                     [userId]="user?.id_user">
                    </cometchat-avatar>
                </span>
                <span class="inputStickyStyle">
                    <div class="stickyAttachmentStyle">
                      <span
                      [title]="ATTACH_IMAGE"
                      (click)="getImage()"
                      class="fileItemStyle"
                      id="image"
                    >
                      <input
                        type="file"
                        accept="image/*"
                        #imagePicker
                        (change)="onImgChange($event)"
                      />
                    </span>
                    <span>
                      Đổi ảnh
                    </span>
                      </div>
                   
                  </span>
               </div>
            <tr>
              <td>
                <div class="register-form">
                   
                    <form [formGroup]="infoForm">
                
                      <div class="form-group">
                        <label>Số điện thoại</label>
                        <input
                          type="text"
                          formControlName="phone"
                          class="form-control"
                          id="phone"
                          readonly
                        />
                      </div>

                      <div class="form-group">
                        <label>Tên</label>
                        <input
                          type="text"
                          formControlName="name"
                          class="form-control"
                          id="name"
                        />
                        <div *ngIf="f.name.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                              Yêu cầu nhập name
                          </div>
                      </div>
                    
                      <!-- <div class="form-group">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                      </div> -->
                    </form>
                </div>
              </td>
            </tr>
        
          </tbody>
          <tfoot class="tableFootStyle">
            <tr>
              <td>
                <button tabIndex="4" (click)="updateInfo()">
                  {{ addBtnText }}
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  